:root{font-size: 1.05vw;font-family: PingFangSC-Regular;}
@media only screen and (max-width:1366px) {:root{font-size: 16px;}}
@media only screen and (max-width:460px) {:root{font-size: 15px;}}
@media only screen and (max-width:380px) {:root{font-size: 14px;}}
@media only screen and (max-width:340px) {:root{font-size: 13px;}}
@media only screen and (max-width:280px) {:root{font-size: 12px;}}
