html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
em,
i,
th,
td {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PingFangSC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '寰蒋闆呴粦', 'STHeiti', 'WenQuanYi Micro Hei', SimSun, sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    background-color: transparent;
    color: #333;
}
a:hover,
a:active {
    outline-width: 0;
    text-decoration: none;
    color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
hr {
    border: 0;
    height: 1px;
}
img {
    border-style: none;
    vertical-align: top;
}
img:not([src]) {
    display: none;
}
svg:not(:root) {
    overflow: hidden;
}
html {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
}
input,
textarea,
button,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    margin: 0;
    padding: 0;
}
audio:not([controls]),
video:not([controls]) {
    display: none;
    height: 0;
}
progress {
    vertical-align: baseline;
}
mark {
    background-color: #ff0;
    color: #000;
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
textarea {
    overflow: auto;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
.clearFix:after {
    display: block;
    /*height: 0;*/
    /*overflow: hidden;*/
    content: '';
    clear: both;
}
.clearFix {
    *zoom: 1;
    /*鍏煎浣庣増鏈祻瑙堝櫒*/
}
@font-face {
    font-family: 'iconfont';
    /* Project id 2902883 */
    src: url('/Public/static/iconfont/iconfont.woff2') format('woff2'), url('/Public/static/iconfont/iconfont.woff') format('woff'), url('/Public/static/iconfont/iconfont.ttf') format('truetype');
}
.iconfont {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-lanqiu {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-lanqiu::before {
    color: #de641e;
    content: '\ea73';
}
.icon-zuqiu {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-zuqiu::before {
    color: #2c9824;
    content: '\e618';
}
.icon-remen {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-remen::before {
    color: #f31c1c;
    content: '\e6c1';
}
.icon-quanbu {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-quanbu::before {
    color: #2d8fff;
    content: '\e681';
}
.toTop {
    font-family: 'iconfont' !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toTop::before {
    content: '\e64a';
}
.reverse {
    flex-flow: row-reverse;
}
::-webkit-scrollbar {
    width: 10px;
    height: 40;
    background-color: #ddd;
}
::-webkit-scrollbar-thumb {
    /*婊氬姩鏉￠噷闈㈠皬鏂瑰潡*/
    background-color: #999;
    border-radius: 0;
}
::-webkit-scrollbar-track {
    /*婊氬姩鏉￠噷闈㈣建閬�*/
    background: #ededed;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-reverse {
    flex-direction: row-reverse;
}
.flex-around {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.color__main {
    color: #dd4b39;
}
.win {
    color: #dd4b39;
}
.lose {
    color: #008000;
}
.f-left {
    text-align: left !important;
    justify-content: flex-start;
}
.f-right {
    text-align: right !important;
    justify-content: flex-end;
}
a:active,
a:hover {
    color: #dd4b39;
}
.no-live {
    padding: 90px;
    text-align: center;
    color: #999;
}
.no-live dt {
    background: url(/Public/static/img/no_data.svg) no-repeat;
    width: 49px;
    height: 32px;
    display: block;
    transform: scale(2.5);
    margin: 0 auto;
}
.no-live dd {
    margin-top: 40px;
}
.breadcrumbs {
    font-size: 14px;
    line-height: 30px;
    background: #f7f9fa;
    padding: 2px 10px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    display: flex;
    align-items: center;
}
.breadcrumbs a {
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.breadcrumbs a:hover {
    color: #666699;
}
.breadcrumbs a::after {
    content: '';
    display: inline-block;
    background: url(/Public/static/img/icon_nav_down.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    transform: rotate(-90deg) scale(0.6);
}
.breadcrumbs a:last-child::after {
    content: '';
    background: none;
}
.sload {
    display: block;
    text-align: center;
    color: #99cc33;
    line-height: 30px;
}
.no-data {
    padding: 10px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #999;
}
.no-data img {
    width: 60px;
    display: block;
    margin: 0 auto;
}
.living::before {
    content: '';
    background: url(/Public/static/img/living.gif) no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    display: inline-block;
}
.living .status-text,
.status-0 .status-text {
    color: #f00 !important;
}
.no-start .status-text,
.status-1 .status-text {
    color: #dd4b39 !important;
}
.no-start .zhibo-name,
.status-1 .zhibo-name {
    color: #4180ff !important;
}
.over-btn .status-text,
.status-2 .status-text {
    color: #999 !important;
}
.over-btn .zhibo-name,
.status-2 .zhibo-name {
    background: #f2f2f2 !important;
    color: #666 !important;
}
.livelist-box .live-status0 strong,
.livelist-box .living {
    color: #f00;
}
.livelist-box .no-start {
    color: #4180ff;
}
.logo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 62px;
    margin: 0 auto;
}
.logo-box .nav-box {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo-box .nav-box .nav {
    height: 100%;
}
.logo {
    margin: 0 auto;
    font-size: 0;
}
.footer {
    background: #fff;
    color: #808080;
    padding: 14px 0;
}
.footer .site-nav {
    display: flex;
    align-items: center;
}
.footer .site-nav ul {
    display: flex;
    align-items: center;
}
.footer .site-nav ul a {
    margin-right: 14px;
    font-size: 14px;
    font-weight: bold;
}
.footer .copyright {
    text-align: center;
    margin-top: 10px;
    line-height: 20px;
}
.m-footer-content {
    padding: 0 12px;
}
.m-footer-content .f-text {
    flex-shrink: 0;
}
.m-footer-content .site-nav {
    flex-wrap: wrap;
}
.m-footer-content .site-nav ul {
    flex-wrap: wrap;
}
.m-footer-content .site-nav ul li {
    flex-shrink: 0;
}
.main {
    padding-top: 15px;
    padding-bottom: 30px;
}
.arrow-right {
    width: 16px;
    height: 16px;
    background: url(/Public/static/img/icon_nav_down.png) no-repeat;
    background-size: 100%;
}
.pagination-wrap {
    padding: 20px 10px;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
}
.pagination-wrap .paging-cls {
    text-align: center;
}
.pagination-wrap .paging-cls span,
.pagination-wrap .paging-cls a {
    display: inline-block;
    border: 1px solid #eef3f8;
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    width: 44px;
    margin: 0 3px;
}
.pagination-wrap .paging-cls span:hover,
.pagination-wrap .paging-cls a:hover {
    background: #dd4b39;
    color: #fff;
}
.pagination-wrap .paging-cls .current {
    background: #dd4b39;
    color: #fff;
    font-weight: bold;
}
.pagination-wrap .paging-cls .fa-angle-double-left::before {
    content: '<';
}
.pagination-wrap .paging-cls .fa-angle-double-right::before {
    content: '>';
}
.live_gybf {
    border: 1px solid #eef3f8;
    text-align: center;
    font-size: 12px;
}
.live_gybf h3 {
    font-size: 16px;
    background: #dd4b39;
    line-height: 28px;
    color: #fff;
}
.live_gybf .mxg li {
    display: flex;
    padding: 5px 24px;
    border-bottom: 1px solid #eef3f8;
}
.live_gybf .mxg li h4 {
    width: 110px;
    text-align-last: left;
    line-height: 30px;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.live_gybf .mxg li h4 img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 3px;
    vertical-align: middle;
}
.live_gybf .mxg li span {
    background: #eef3f8;
    flex: 1;
    line-height: 30px;
}
.live_gybf .mxg .to span {
    background: rgba(249, 117, 34, 0.1);
}
.live_gybf .mxg .to .gao {
    background: #f97522;
}
.live_gybf .mxg .tw span {
    background: rgba(39, 197, 195, 0.1);
}
.live_gybf .mxg .tw .gao {
    background: #dd4b39;
}
.live_lqbf {
    border: 1px solid #eef3f8;
    text-align: center;
    font-size: 12px;
}
.live_lqbf h3 {
    font-size: 16px;
    background: #dd4b39;
    line-height: 28px;
    color: #fff;
}
.live_lqbf .bft {
    display: flex;
    background: #eef3f8;
}
.live_lqbf .bft h4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 3px 0;
}
.live_lqbf .bft h4 img {
    width: 20px;
    margin-right: 3px;
}
.live_lqbf .msg li {
    padding: 0 4px;
    border-top: 1px solid #eef3f8;
    display: flex;
}
.live_lqbf .msg li span {
    flex: 1;
}
.data-title {
    padding: 24px;
}
.info-wrap {
    padding: 0 12px;
}
.info-wrap .flex-between .text-left {
    margin-left: 10px;
}
.info-wrap .flex-between .text-right {
    margin-right: 10px;
}
.info-wrap .flex .t-logo {
    width: 50px;
    height: 50px;
}
.info-wrap .flex dt {
    font-weight: bold;
}
.info-wrap .flex dd {
    color: #999;
}
.data-compare,
.overview-detail {
    line-height: 34px;
    margin-top: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0%);
    border-radius: 8px;
}
.overview-detail {
    padding: 0 12px 12px 12px;
}
.overview-detail .f-left {
    color: #dd4b39;
}
.overview-detail .f-right {
    color: #f97522;
}
.overview-description {
    text-align: center;
    color: #999;
    flex-shrink: 0;
    margin: 0 0.32rem;
}
.data-compare .overview-detail {
    box-shadow: none;
}
.data-compare .rate {
    border-top: 1px solid #f1f1f1;
    border-radius: 0;
}
.data-compare .data {
    color: #666;
    width: 48px;
}
.data-progress .home-info,
.data-progress .away-info {
    flex-grow: 1;
}
.data-progress .home-info .stat,
.data-progress .away-info .stat {
    align-items: center;
}
.data-progress .overview-description {
    width: 44px;
    margin: 5px;
}
.data-progress .progress {
    position: relative;
    width: 100%;
    height: 14px;
    flex: 1;
    background: rgba(39, 197, 195, 0.1);
}
.data-progress .progress-portion {
    position: absolute;
    height: 100%;
}
.left .progress-portion {
    left: 0;
    background: #dd4b39;
}
.data-progress .progress.right {
    background: rgba(249, 117, 34, 0.1);
}
.right .progress-portion {
    right: 0;
    background: #f97522;
}
.article-detail {
    padding: 10px;
}
.article-detail p {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #303030;
}
.article-detail iframe,
.article-detail img {
    display: block;
    width: 100% !important;
    height: auto !important;
}
.tag {
    margin-top: 10px;
}
.tag a {
    background: #eee;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tag a:hover {
    opacity: 0.8;
}
.livelist-box {
    flex-wrap: wrap;
}
.livelist-box li {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #eee;
}
.livelist-box li:first-child {
    border-top: none;
}
.livelist-box li:hover {
    background: #f2f6ff;
}
.livelist-box li .t-logo {
    width: 30px;
    height: 30px;
    margin-right: 4px;
}
.livelist-box li h2 {
    font-size: 14px;
}
.livelist-box li h3 {
    font-weight: normal;
    font-size: 14px;
}
.livelist-box li time {
    color: #666;
    margin-right: 10px;
    display: inline-block;
}
.livelist-box li a:hover {
    color: #333;
}
.livelist-box li .team {
    margin-top: 4px;
    align-items: center;
}
.livelist-box .live-hot-box {
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.livelist-box .hot-live-side {
    width: 300px;
    padding-right: 50px;
}
.livelist-box .hot-live-side.text-right {
    text-align: right;
}
.livelist-box .hot-live-match {
    flex-grow: 1;
}
.livelist-box .score-wrap {
    width: 100px;
    text-align: center;
    flex-grow: 1;
}
.livelist-box .score-wrap span,
.livelist-box .score-wrap strong {
    display: block;
    width: 100%;
}
.livelist-box .team-wrap {
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: 200px;
}
.livelist-box .team-wrap.text-right {
    justify-content: flex-end;
}
body {
    background: #f5f5f5;
}
.bg {
    background: #fff;
}
.breadcrumbs {
    font-size: 12px;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #ddd;
}
.toTop {
    background: #dd4b39;
    color: #fff;
    display: none;
    position: fixed;
    right: 10px;
    bottom: 70px;
    z-index: 888;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 30px;
    box-shadow: 0 2px 4px 0 rgb(138 235 22.4%);
    text-align: center;
    line-height: 40px;
    opacity: 0.8;
}
.pagination-wrap .paging-cls span,
.pagination-wrap .paging-cls a {
    height: 34px;
    line-height: 34px;
    width: 34px;
}
.banner-info {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}
.banner-info .banner-info-ico {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 12px;
}
.banner-info .banner-info-name {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-right: 12px;
}
.lanqiu-bar {
    background: url(/Public/static/img/bar-lanqiu.png) no-repeat;
    background-size: 100%;
}
.zuqiu-bar {
    background: url(/Public/static/img/bar-zuqiu.png) no-repeat;
    background-size: 100%;
}
.status-lan {
    font-size: 18px;
    font-weight: bold;
    color: #dd4b39;
    padding: 4px 12px;
    border-top: 2px solid #dd4b39;
}
.match-status-box {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.match-status-box .status-bar {
    margin-left: 10px;
}
.header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.header .logo {
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    padding: 10px;
}
.header .logo .logo-box {
    width: 100%;
    height: 24px;
    justify-content: center;
}
.header .logo a {
    display: block;
}
.header .logo img {
    height: 24px;
}
.date-wrap,
.nav-wrap {
    z-index: 100;
}
.date-wrap .dateList,
.nav-wrap .dateList,
.date-wrap .nav,
.nav-wrap .nav {
    overflow-x: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.date-wrap .dateList ul,
.nav-wrap .dateList ul,
.date-wrap .nav ul,
.nav-wrap .nav ul {
    width: 100%;
    display: flex;
    justify-content: stretch;
    white-space: nowrap;
}
.date-wrap .dateList li,
.nav-wrap .dateList li,
.date-wrap .nav li,
.nav-wrap .nav li {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}
.date-wrap .dateList li a,
.nav-wrap .dateList li a,
.date-wrap .nav li a,
.nav-wrap .nav li a {
    padding: 0 10px;
    display: block;
    line-height: 44px;
    font-size: 14px;
}
.date-wrap .dateList .active,
.nav-wrap .dateList .active,
.date-wrap .nav .active,
.nav-wrap .nav .active {
    font-weight: bold;
}
.date-wrap .dateList .active a,
.nav-wrap .dateList .active a,
.date-wrap .nav .active a,
.nav-wrap .nav .active a {
    color: #dd4b39;
}
.date-wrap .dateList .active span,
.nav-wrap .dateList .active span,
.date-wrap .nav .active span,
.nav-wrap .nav .active span {
    display: inline-block;
    border-bottom: 2px solid #dd4b39;
}
.dateList a {
    line-height: 34px !important;
}
.hot-match-wrap {
    overflow: hidden;
}
.hot-match {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
}
.hot-match .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hot-match .swiper-slide {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.hot-match .swiper-slide:hover {
    background-color: #38c0be;
    transition: all 0.3s ease;
}
.hot-match .swiper-slide:hover a {
    color: #fff;
}
.hot-match .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.hot-match .swiper-slide .live-btn {
    font-size: 14px;
}
.hot-match .match-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
}
.hot-match .match-name h3 {
    font-size: 14px;
    font-weight: normal;
}
.hot-match .hot-game-info img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.hot-match .hot-game-info .team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.hot-match .hot-game-info .team > div {
    display: flex;
    align-items: center;
}
.hot-match .hot-game-info .team h3 {
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.hot-match .hot-game-info .match-score {
    flex-shrink: 0;
    font-size: 18px;
}
.box-right {
    background: #fff;
    margin-bottom: 15px;
}
.box-right .box-title {
    padding: 10px;
    font-size: 18px;
    color: #dd4b39;
    border-top: 2px solid #dd4b39;
    border-bottom: 1px solid #eeeeee;
}
.box-right .hot-cate {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 10px 6px 10px;
    box-sizing: border-box;
    justify-content: space-between;
}
.box-right .hot-cate::after {
    content: '';
    width: 78px;
}
.box-right .hot-cate .li-data {
    margin-bottom: 10px;
    display: inline-block;
    width: 78px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.box-right .hot-cate li {
    margin-bottom: 10px;
    display: inline-block;
    width: 78px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.box-right .hot-cate li:hover {
    background: #f2f6ff;
}
.box-right .hot-cate li a {
    display: block;
}
.xinwen-list {
    padding-bottom: 10px;
}
.xinwen-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.xinwen-list li a {
    position: relative;
    display: flex;
}
.xinwen-list li img {
    width: 35%;
    height: 70px;
    display: block;
    flex-shrink: 0;
}
.xinwen-list .flex-col {
    padding-left: 10px;
    justify-content: space-between;
}
.xinwen-list .flex-col h3 {
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.xinwen-list .flex-col .cate {
    color: #999;
    font-size: 12px;
}
.show-all-btn-container {
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
}
.show-all-btn {
    background: #dd4b39;
    color: #fff;
    width: 118px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.show-all-btn:hover {
    color: #fff !important;
    opacity: 0.8;
    font-weight: bold;
}
.live-list {
    background: #fff;
    margin: 10px 0;
    border-radius: 8px;
    position: relative;
}
.live-list .show-all-btn {
    background: #dd4b39;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    border-radius: 8px;
}
.live-list .show-all-btn:hover {
    color: #fff;
    opacity: 0.8;
    font-weight: bold;
}
.live-list .item {
    padding: 15px 15px;
    border-top: 1px solid #eee;
}
.live-list .riqi {
    background: #fff;
    color: #dd4b39;
    padding: 10px 20px;
    display: block;
}
.live-list .riqi span {
    margin-left: 0.5rem;
}
.live-list .team-logo {
    width: 36px;
    height: 36px;
}
.live-list .saishi {
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.live-list .saishi h2 {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}
.live-list .saishi .time {
    display: block;
    text-align: left;
    font-weight: 600;
}
.live-list .saishi .status-text {
    text-align: left;
}
.live-list .duizhen dl {
    width: 30%;
    flex-shrink: 0;
    text-align: center;
}
.live-list .duizhen dl h3 {
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 4px;
}
.live-list .duizhen .box-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.live-list .duizhen .box-name .score {
    margin: 4px 0;
    display: block;
}
.livelist-box {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.livelist-box li {
    width: 48%;
    height: 100px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    padding: 0;
}
.livelist-box li a {
    display: block;
    width: 100%;
    height: 100%;
}
.livelist-box li .match-title {
    height: 28px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f5f5f5 100%);
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 10px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.livelist-box li .match-title h2 {
    font-size: 10px;
    font-weight: normal;
}
.livelist-box li .match-content {
    padding: 10px;
    box-sizing: border-box;
}
.livelist-box li .match-content .team:first-child {
    margin-bottom: 10px;
}
.livelist-box li .match-content h3 {
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.livelist-box li .t-logo {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#live-main .match-info .match-team {
    padding: 0 12px;
}
#live-main .match-info .match-head {
    font-size: 14px;
}
#live-main .match-info .score {
    font-size: 18px;
}
#signal-list {
    font-size: 16px;
}
#signal-list .signal {
    width: 24px;
    height: 24px;
}
#livebox .tab-list {
    height: 44px;
    line-height: 44px;
}
#livebox .tab-list li {
    font-size: 16px;
}
#livebox .tab-list .tab-active span {
    border-bottom: 2px solid #dd4b39;
}
#livebox .live_gybf .mxg li {
    padding: 5px 12px;
}
#livebox .livemstop {
    padding: 12px;
}
#livebox .livemstop .t-logo {
    width: 24px;
    height: 24px;
}
#livebox .live-data-list {
    font-size: 12px;
    padding: 0;
}
#livebox .live-data-list .recent-vs {
    width: 30px !important;
    flex-shrink: 0;
}
#livebox .live-data-list .saishi,
#livebox .live-data-list .bifen {
    width: 10%;
}
#livebox .live-data-list .jiao {
    width: 10%;
}
#livebox .live-data-list .pan,
#livebox .live-data-list .jin {
    width: 10%;
}
#livebox .live-data-list .zhu,
#livebox .live-data-list .ke {
    width: 20%;
}
#livebox .live-data-list .zhu a,
#livebox .live-data-list .ke a {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
#livebox .saicheng-list dt > div,
#livebox .saicheng-list dd > div {
    flex-shrink: 1 !important;
}
#livebox .tab-pannel .pannel-info .section {
    padding: 0;
}
.art-detail-main {
    margin-top: 15px;
}
.art-detail-main .title {
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
}
.art-detail-main .title time {
    color: #999;
    display: block;
    text-align: right;
    margin-top: 4px;
}
.art-detail-main .title .writer {
    text-align: right;
}
.match-nav {
    background: #fff;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
}
.match-nav li {
    margin-right: 20px;
}
.match-nav a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
}
.match-nav .active {
    color: #dd4b39;
}
.match-nav .icon-quanbu,
.match-nav .icon-remen,
.match-nav .icon-zuqiu,
.match-nav .icon-lanqiu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.match-nav .icon-quanbu::before,
.match-nav .icon-remen::before,
.match-nav .icon-zuqiu::before,
.match-nav .icon-lanqiu::before {
    margin-right: 4px;
    font-size: 18px;
}
