
<footer class="footer" th:fragment="footer">
    <div style="width: 100%">
        <div class="site-nav">
            <div>网站导航：</div>
            <ul>
                <li>
                    <a target="_blank" href="/lanqiu/nba" title="NBA">
                        NBA直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="英超">
                        英超直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="意甲">
                        意甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="德甲">
                        德甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/lanqiu/cba" title="CBA">
                        CBA直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="西甲">
                        西甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="法甲">
                        法甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="中超">
                        中超直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/lanqiu/wnba" title="WNBA">
                        WNBA直播
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                9球体育直播全程提供NBA直播,CBA直播,中超直播,五大联赛直播,CCTV5在线直播等热门体育赛事免费高清视频直播信号，看比赛上9球直播nba在线观看！</p>
            <p>Copyright © 9球体育直播. All Rights Reserved.</p>
        </div>
    </div>
</footer>
