<html lang="zh-CN">
<head>
    <th:block th:insert="~{meta}"></th:block>
    <link th:href="@{/emjdjd/css/wap.css}" type="text/css" rel="stylesheet">
</head>


<body>
<th:block th:insert="mobile/header::header"></th:block>
<main class="main">
    <div th:replace="~{ad/top_ad}"></div>
    <div th:replace="~{ad/announcement_ad}"></div>
    <div style="display: flex;justify-content: space-around;border: 1px solid #e2e3e8;border-radius: 4px;margin-bottom: 10px;margin-top: 10px">

    <a th:each="date:${date_list}"
       style="width: 76px;height: 60px;;display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 5px;margin-bottom: 5px"
       th:href="${list_type_url}+'/'+${#dates.format(date,'yyyy-MM-dd')}">
        <div th:text="${#dates.format(date,'MM-dd')}" style="background: no-repeat"/>
        <th:block th:switch="${#dates.dayOfWeek(date)}">
            <span th:case="2" th:text="周一"></span>
            <span th:case="3" th:text="周二"></span>
            <span th:case="4" th:text="周三"></span>
            <span th:case="5" th:text="周四"></span>
            <span th:case="6" th:text="周五"></span>
            <span th:case="7" th:text="周六"></span>
            <span th:case="1" th:text="周日"></span>
        </th:block>
    </a></div>
    <div >
        <th:block th:insert="~{mobile/listwap::listFragment}">
        </th:block>

    </div>
</main>
<div class="toTop"></div>
<footer class="footer">
    <div class="m-footer-content">
        <div class="site-nav">
            <div class="f-text">网站导航：</div>
            <ul>
                <li>
                    <a target="_blank" href="/lanqiu/nba" title="NBA">
                        NBA直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="英超">
                        英超直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="意甲">
                        意甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="德甲">
                        德甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/lanqiu/cba" title="CBA">
                        CBA直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="西甲">
                        西甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="法甲">
                        法甲直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/zuqiu/" title="中超">
                        中超直播
                    </a>
                </li>
                <li>
                    <a target="_blank" href="/lanqiu/wnba" title="WNBA">
                        WNBA直播
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>
                9球体育直播全程提供NBA直播,CBA直播,中超直播,五大联赛直播,CCTV5在线直播等热门体育赛事免费高清视频直播信号，看比赛上9球直播nba在线观看！</p>
            <p>Copyright © 9球体育直播. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<div th:replace="~{ad/between_ad::left_ad}"></div>
<div th:replace="~{ad/between_ad::right_ad}"></div>
<div th:replace="~{ad/bottom_ad}"></div>
<div th:replace="~{ad/js_ad}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script th:src="@{/emjdjd/js/transfer.js}"></script>
<script th:src="@{/emjdjd/js/public.js}"></script>
</body>
</html>
