<div th:fragment="listFragment">

<ul class="live-list">
    <li class="item status-0" th:each="item,count:${list}">
        <a class="flex-between duizhen" title="欧联杯 塞维利亚vs费内巴切" th:href="'/live/'+${item.getId()}">
            <div class="box-name">
                <div class="saishi">
                    <time class="time" th:text="${#dates.format(item.getMatchStartTime(),'HH:mm')}">
                    </time>
                    <span style="text-align: left">欧联杯</span>
                    <div class="status-text living">
                        直播中
                    </div>
                </div>
            </div>
            <dl>
                <dt>
                    <img class="team-logo lazyload"
                         src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                         th:attr="data-src=${item.leftImg}"
                         style="display: inline;">
                </dt>
                <dd>
                    <h3 th:text="${item.leftName}"></h3>
                </dd>
            </dl>
            <div class="box-name">
                <strong class="score status-text" th:if="${not #lists.isEmpty(item.mainScore)}"
                        th:text="${item.mainScore.get(0)+':'+item.visitingScore.get(0)}"></strong>
            </div>
            <dl>
                <dt>
                    <img class="team-logo lazyload"
                         src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                         th:attr="data-src=${item.rightImg}"
                         style="display: inline;">
                </dt>
                <dd>
                    <h3 th:text="${item.rightName}"></h3>
                </dd>
            </dl>
        </a>
</ul>

    <div id="load_more" style="text-align: center;width:50%;margin-left:auto;margin-right:auto;border: 1px solid red;border-radius: 3px;"
         th:onclick="loadmore([[${cur_date}]],[[${listtype}]])" >点击加载更多</div>

    <script th:inline="javascript">
        var curPage=0
        function loadmore(date,list_type){
            curPage=curPage+1
            $.ajax({url:'/getData?date='+date+'&page='+(curPage)+'&live_type='+list_type+'&limit=50',dataType:"json",success:function (result) {
                    if (result.code === 20000) {
                        for(var item in result.data){
                            console.log(item)
                            $(".live-list").append(genTemplate(result.data[item]))
                        }
                    } else {
                        $("#load_more").text(result.msg)
                    }
                }})
        }

        function genTemplate(obj){
            return "<li class=\"item status-0\">\n" +
                "        <a class=\"flex-between duizhen\" title=\"欧联杯 塞维利亚vs费内巴切\">\n" +
                "            <div class=\"box-name\">\n" +
                "                <div class=\"saishi\">\n" +
                "                    <time class=\"time\">01:00</time>\n" +
                "                    <span style=\"text-align: left\">欧联杯</span>\n" +
                "                    <div class=\"status-text living\">\n" +
                "                        直播中\n" +
                "                    </div>\n" +
                "                </div>\n" +
                "            </div>\n" +
                "            <dl>\n" +
                "                <dt>\n" +
                "                    <img class=\"team-logo\" src="+obj.leftImg+" lazyload=\"lazy\" data-original=\"https://cdn.sportnanoapi.com/football/team/d20ed1da4f299cc3ef0e1e9eb06eced1.png\" style=\"display: inline;\">\n" +
                "                </dt>\n" +
                "                <dd>\n" +
                "                    <h3>"+obj.leftName+"</h3>\n" +
                "                </dd>\n" +
                "            </dl>\n" +
                "            <div class=\"box-name\">\n" +
                "                <strong class=\"score status-text\">"+(obj.leftTeamScore!=null?obj.leftTeamScore[0]+':'+(obj.rightTeamScore!=null?obj.rightTeamScore[0]:''):'')+"</strong>\n" +
                "            </div>\n" +
                "            <dl>\n" +
                "                <dt>\n" +
                "                    <img class=\"team-logo\" src="+obj.rightImg+" lazyload=\"lazy\" data-original=\"https://cdn.sportnanoapi.com/football/team/dff00f1fd4a7dd2feac000b462416867.png\" style=\"display: inline;\">\n" +
                "                </dt>\n" +
                "                <dd>\n" +
                "                    <h3>"+obj.rightName+"</h3>\n" +
                "                </dd>\n" +
                "            </dl>\n" +
                "        </a>\n" +
                "\n" +
                "    </li>"
        }
    </script>
</div>
