
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta content="true" name="x5-fullscreen">
    <meta content="yes" name="apple-touch-fullscreen">
    <title th:text="${config.getBasis().getSiteName()}"></title>
    <meta name="keywords" th:content="${config.getBasis().getKeyWords()}">
    <meta name="description" th:content="${config.getBasis().getDescribe()}">
    <link rel="shortcut icon" th:href="${config.getBasis().getLogo()}" type="image/x-icon">
