<ul class="pagination" th:if="${page_count>1}" th:fragment="pagination">
    <li th:class="${cur_page == 0 ? 'active first' : 'first' }"><a th:href="${data_base_url}+'/0'">首页</a></li>
    <li th:each="i: ${#numbers.sequence((cur_page - 4 < 0 ? 0 : cur_page - 4)+1,(cur_page + 4 > page_count ? page_count : cur_page + 4)+1)}"
        th:class="${cur_page == i - 1 ? 'active' : '' }">
      <a th:href="${data_base_url}+'/'+(${i}-${1})" th:text="${i}"></a>
    </li>
    <li th:if="${page_count > cur_page + 4}">
      <a>...</a>
    </li>
    <li th:class="${cur_page == page_count ? 'active last' : 'last' }"><a th:href="${data_base_url}+'/'+${page_count}">尾页</a></li>
</ul>
