<div class="couplet_left_ad" th:fragment="left_ad"
     th:if="${config.getCouplets()} and ${not #strings.isEmpty(config.getCouplets().getLeftAd().getPicUrl())}">
    <th:block th:if="${config.getCouplets().getLeftAd()}">
        <img class="couplet_left_img_ad lazyload_on_page_ready"
             src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
             th:if="${not #lists.isEmpty(config.getCouplets().getLeftAd().getPicUrl())}"
             th:attr="data-src=${config.getCouplets().getLeftAd().getPicUrl()}"/>
    </th:block>
    <style>
        .couplet_left_ad{
            position: fixed;
            left: 0;
            top: 50%;
            width: 30%;
            height: 30%;
            transform: translateY(-50%);
        }
        .couplet_left_ad img{
            width: 100%;
            height: 100%;
        }
    </style>
</div>
<div class="couplet_right_ad" th:fragment="right_ad"
     th:if="${config.getCouplets()} and ${not #strings.isEmpty(config.getCouplets().getRightAd().getPicUrl())}">
    <img class="couplet_righ_img_ad"
         th:if="${not #lists.isEmpty(config.getCouplets().getRightAd().getPicUrl())}"
         th:src="${config.getCouplets().getRightAd().getPicUrl()}"/>
    <style>
        .couplet_right_ad{
            position: fixed;
            right: 0;
            top: 50%;
            width: 30%;
            height: 30%;
            transform: translateY(-50%);
        }
        .couplet_right_ad img{
            width: 100%;
            height: 100%;
        }
    </style>
</div>
